* {
    margin: 0;
    padding: 0;
    font-family: arial;
}
h1, h3 {
    text-align: center;
}
h1 {
    margin: 80px 0 20px;
}
h3 {
    margin-bottom: 10px;
}
div {
    color: white;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 2px solid black;
}
div#red {
    background-color: orangered;
}
div#green {
    background-color: green;
}
    div p {
        font-size: 1.6em;
        font-weight: bold;
        text-align: center;
    }
    div#red p {
        line-height: 200px;
    }
    div#green p {
        padding: 0 10px;
        margin: 50px 0;
    }
    div#green a {
        color: black;
        background-color: white;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        border: 2px solid black;
        box-shadow: 1px 1px 2px gray;
        margin-left: 50px;
        padding: 3px 6px;
    }
form {
    width: 100px;
    margin: 20px auto;
}
    input {
        font-size: 1.2em;
        outline: none;
        padding: 2px 4px;
        margin-bottom: 10px;
    }
    button {
        color: black;
        background-color: white;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        border: 2px solid black;
        box-shadow: 1px 1px 2px gray;
        padding: 1px 4px;
        margin-left: 20px;
    }
