<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Belt Reviewer">
    <title>Book Reviews</title>
    <!-- <link rel="stylesheet" href="../../static/books/css/show.css"> -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/css/show.css' %}">
    <script type="text/javascript">
       function deleteConfirm() {
           if (!confirm("Confirm Delete?")) {
               window.event.returnValue = false;
           }
       }
    </script>
</head>
<body>
    <a id="back" href="/">Home</a>
    <a href="/logout">Logout</a>
    <h2>{{ book.title|title }}</h2>
    <p>Author: {{ book.author.name|title }}</p>
    <div id="wrapper">
        <div>
            <h3>Reviews:</h3>
            {% for review in reviews %}
            <ul>
                <li>Rating: <img src="../../static/books/images/{{ review.rating }}.png" alt="rating stars"></li>
                <li><a href="{% url 'show_user' review.user.id %}">{{ review.user.alias|title }}</a> says: &nbsp;{{ review.content }}</li>
                <li>
                    <!-- Post on {{ review.created_at|date:'F d, Y' }} -->
                    posted &nbsp;&nbsp;{{ review.created_at|timesince }} ago
                    {% if review.user.id == request.session.user %}
                        <a id="del" href="{% url 'delete_review' review.id %}" onClick=deleteConfirm()>Delete this Review</a>
                    {% endif %}
                </li>

            </ul>
            {% endfor %}
        </div>
        <form action="/reviews/create/{{ book.id }}" method="post">{% csrf_token %}
            <label>Add a Review:</label>
            <textarea name="review"></textarea>
            <label>Rating:</label>
            <input type="number" name="rating" min="1" max="5"> stars
            <button type="submit">Submit Review</button>
        </form>
    </div>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>
