* {
    margin: 0;
    padding: 0;
    font-family: arial;
    color: #3c4c5b;
}
h2 {
    margin: 50px 0 0 50px;
}
table#product {
    text-align: center;
    margin: 20px 0 0 50px;
}
    #product th {
        height: 40px;
        color: white;
        background-color: #009ac7;
    }
    #product tbody tr:nth-of-type(odd) {
        background-color: #f5fafe;
    }
        #product td {
            height: 30px;
        }
        #product td a {
            font-size: 1.1em;
            margin-right: 15px;
        }
        #product a.del {
            color: orangered;
        }
a {
    font-size: 1.2em;
    color: #009ac7;
    height: 30px;
}
a#add {
    display: block;
    margin: 30px 0 0 50px;
}

table#show {
    margin: 20px 0 0 50px;
}
    table#show tr {
        height: 30px;
        font-size: 1.2em;
        margin-bottom: 10px;
    }
a#edit {
    margin: 20px 15px 0 50px;
    display: inline-block;
}

form {
    width: 350px;
    margin-left: 50px;
}
    label {
        font-size: 1.2em;
        display: block;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    input {
        width: 300px;
        font-size: 1.2em;
        padding: 2px 4px;
    }
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 100px #fff inset;
    }
    button {
        color: white;
        background-color: #009ac7;
        font-size: 1.1em;
        border: none;
        border-radius: 2px;
        box-shadow: 1px 1px 2px #ccc;
        cursor: pointer;
        padding: 4px 10px;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    button:hover {
        background-color: #007394;
    }
a#go_back {
    margin-left: 50px;
}
a#show {
    margin-right: 15px;
    margin-left: 50px;
}
 ul {
     margin-top: 20px;
     margin-left: 50px;
     list-style: none;
 }
     li.error {
         color: orangered;
         margin-bottom: 5px;
     }
